.container {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.table{
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr;
}

.table__title{
  margin: 1rem 0;
}

.table__empty{
  grid-column: 1/-1;
  text-align: center;
}